* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0 20px 0 20px;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
}

.logo a {
  letter-spacing: 1.2px;
  font-family: Montserrat;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
}
.nav-links li {
  list-style-type: none;
  margin: 0 10px 0 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: rgb(175, 135, 155);
}

.container-search {
  padding: 30px;
  /* position: relative; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container h1 {
  text-align: center;
  padding-bottom: 30px;
}

#form {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
input {
  justify-content: center;
  background-color: antiquewhite;
  width: 100%;
  height: 45px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  resize: vertical;
  box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.23);
}

#content {
  padding-top: 30px;
  color: rgb(77, 78, 4);
  text-align: center;
}

#content h3 {
  align-self: center;
}

.recents {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.recents li {
  margin: 5px;
}

.card {
  width: 200px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px;
  margin-top: 8px;
  line-height: 1em;
}
.container p:first-child {
  font-family: Montserrat;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.image-cont {
  display: flex;
  width: 100%;
  min-height: 70%;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  overflow: hidden;
}

.loading {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.song-image {
  width: 300px;
}

.container-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  background-color: #474e5d;
}

.about-section {
  text-align: center;
  justify-content: center;
  color: white;
}
.footer{
  text-align: center;
  padding: 40px;
  background-color: black;
  color: white;
}
@media screen and (max-width: 400px) {
  .container-search {
    width: 100%;
  }
  input {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 354px) {
  .nav-bar {
    justify-content: center;
    align-items: center;
    height: 60px;
    
  }
  .nav-links {
    visibility: hidden;
    text-align: center;
    font-size: 20px;
  }
  .container-search {
    width: 100%;
  }
  input {
    width: 80%;
    text-align: center;
  }
}
@media screen and (min-width: 1100px) {
  .container-search {
    width: 100%;
  }
  input {
    width: 80%;
    text-align: center;
  }
}
